@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.neon-text {
  text-shadow: 0 0 10px #ff1493, 0 0 20px #ff1493, 0 0 30px #ff1493, 0 0 40px #ff1493, 0 0 50px #ff1493, 0 0 60px #ff1493, 0 0 70px #ff1493, 0 0 80px #ff1493;
  animation: neon .25s infinite alternate;
}

@keyframes neon {
  0% {
    text-shadow: 0 0 10px #ff1493, 0 0 20px #ff1493, 0 0 30px #ff1493, 0 0 40px #ff1493, 0 0 50px #ff1493, 0 0 60px #ff1493, 0 0 70px #ff1493, 0 0 80px #ff1493;
  }
  100% {
    text-shadow: 0 0 20px #ff1493, 0 0 30px #ff1493, 0 0 40px #ff1493, 0 0 50px #ff1493, 0 0 60px #ff1493, 0 0 70px #ff1493, 0 0 80px #ff1493, 0 0 90px #ff1493;
  }
}

.ant-table-row{
  padding: 0;
  margin: 0;
}

.bg-black-opacity-70 {
  background-color: rgba(0, 0, 0, 0.7); /* Use rgba to control background opacity */
}

.bg-black-opacity-90 {
  background-color: rgba(0, 0, 0, 0.9); /* Use rgba to control background opacity */
}

/* Set the text inside bg div to 100% opacity */
.bg-black-opacity-70 > .block {
  opacity: 1;
}

.custom-radio {
  width: 20px;
  height: 20px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #ffffff;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
}

.custom-radio:checked {
  background-color: #1bbe6f; /* Change background color when selected */
}

.select-search-select {

  height: 14em;
}
.select-search-container{
  width: 100% !important;
}
@media screen and (max-width: 640px) {
  .ant-table table { font-size: 10px; }
  .ant-tag {
    font-size: 10px;
  }
}
